# Ignore Mac system files
.DS_store

# Ignore vscode project files
.vscode/

# Ignore .class file as well
_06_BigData/_07_Kafka/javaproject/target/classes/com/kafkaproject/*.class
_06_BigData/_07_Kafka/javaproject/target/classes/com/kafkaproject/Producer.class

_09_TensorFlow2.0/.ipynb_checkpoints/

# Ignore .h5 files
_10_TensorFlow2.0/*.h5
_10_TensorFlow2.0_CompleteGuideKeras/*.h5
_10_TensorFlow2.0_CompleteGuideKeras/*.tflite
_XX_Universal/*.h5
_10_TensorFlow2.0/*.json
_10_TensorFlow2.0/*.tsv
_10_Tensorflow2.0_CompleteGuideKeras/*.pbtxt
_15_Tensorflow_GuidedProjects/*.h5

# Ignore checkpoints
_15_DrivenData/.ipynb_checkpoints/
_XX_Universal/.ipynb_checkpoints/
/_16_GenAI_Models/OPENAI-GPT/.ipynb_checkpoints/
_16_GenAI_Models/OPENAI-GPT/.ipynb_checkpoints/_04_AutonomousCook-checkpoint.ipynb

# Ignore some miscelleneous files
_15_DrivenData/*.csv
/.idea/modules.xml
/.idea/Py-SpringboardDS.iml
/_14_PyTorch/__03_ANN/IrisDatasetModel.pt

_16_GenAI_Models/OPENAI-GPT/recipe.png
_16_GenAI_Models/OPENAI-GPT/blog.png
_16_GenAI_Models/OPENAI-GPT/training_data.json

/_16_GenAI_Models/OPENAI-GPT/training_data_prepared.jsonl
