# Ignore Mac system files
.DS_store

# Ignore vscode project files
.vscode/

# Ignore .class file as well
_06_BigData/_07_Kafka/javaproject/target/classes/com/kafkaproject/*.class
_06_BigData/_07_Kafka/javaproject/target/classes/com/kafkaproject/Producer.class

# Ignore .h5 files
_10_TensorFlow2.0/*.h5
_XX_Universal/*.h5
_10_TensorFlow2.0/*.json
_10_TensorFlow2.0/*.tsv
_15_Tensorflow_GuidedProjects/*.h5

# Ignore checkpoints
_15_DrivenData/.ipynb_checkpoints/
_XX_Universal/.ipynb_checkpoints/

# Ignore some csvs
_15_DrivenData/*.csv
/.idea/modules.xml
/.idea/Py-SpringboardDS.iml
